<div>
    <h5>{{result.label}}</h5>
    <div>
        {{#if result.sequent}}
        <div class="sequent">
             {{#if result.sequent.antecedents}}
            <div class="antecedents">
                <h6>antecedents</h6>
                <div>
                    {{#each result.sequent.antecedents}}
                    <div> 
                        <span>{{sequentLabel this}}</span>
                        <textarea class="formula">{{formula}}</textarea>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <hr/>
            {{#if result.sequent.succedents}}
            <div class="succedents">
                <h6>succedents</h6>
                <div>
                    {{#each result.sequent.succedents}}                
                    <div> 
                        <span class="sequent-label">{{sequentLabel this}}</span>
                        <textarea class="formula">{{formula}}</textarea>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}
<!--
        <div class="commentary">
            {{#each result.commentary}}
            <p>{{this}}</p>
            {{/each}}
        </div>
-->
    </div>
</div>