<!--    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
    {{#if source}}
        <h6>{{source.command}}</h6>
    {{else}}
    <h6>{{data.label}}</h6>
        {{#if data.sequent}}
            <div class="sequent">
                {{#if data.sequent.antecedents}}
                    <div class="antecedents">
                        <strong>antecedents</strong>
                        <div>
                            {{#each data.sequent.antecedents}}
                            <div> 
                                <span>{{sequentLabel this}}</span>
                                <pre class="formula" tabindex='0'>{{formula}}</pre>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{#if data.sequent.succedents}}
                    <div class="succedents">
                        <strong>succedents</strong>
                        <div>
                            {{#each data.sequent.succedents}}                
                            <div> 
                                <span>{{sequentLabel this}}</span>
                                <pre class="formula" readonly>{{formula}}</pre>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    {{/if}}
